{% set active_page = "agents" %}

{% extends "base.html" %}

{% block title %}
Agents
{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Configuration des agents</h1>
</div>
<p>
<form action="#", method="POST">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Hôte</th>
                <th scope="col">Utilisateur</th>
                <th scope="col">Plateforme</th>
                <th scope="col">Paw</th>
                <th scope="col">Rôle</th>
            </tr>
        </thead>
        <tbody>
            {% for agent in agents %}
            <tr>
                <td>{{ agent.host }}</td>
                <td>{{ agent.username }}</td>
                <td>{{ agent.platform }}</td>
                <td>{{ agent.paw }}</td>
                <td>
                    <select name={{ agent.paw }}>
                        <option value="none" {% if agent.role=='none' or agent.role == '' %} selected {% endif %}>none</option>
                        <option value="simu" {% if agent.role=='simu' %} selected {% endif %}>Simulateur</option>
                        <option value="ecdis" {% if agent.role=='ecdis' %} selected {% endif %}>ECDIS</option>
                        
                    </select>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <button type="submit" class="btn btn-dark">
        <i class="bi bi-save"></i>
        Sauvegarder
    </button>
</form>
</p>
{% endblock %}