{% set active_page = "index" %}
{% extends "base.html" %}

{% block title %}
Accueil
{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Accueil</h1>
</div>
<div class="col-lg-12 mx-auto p-4 py-md-5">
    <h2>Getting started</h2>
    <p class="fs-5 col-md-5">
        Cette interface permet de lancer automatiquement une simulation d'attaque sur le banc de test. Sur cette page, vous trouverez les étapes pour utiliser cette plateforme.
    </p>
    <h2>Configuration des agents</h2>
    <p class="col-md-8">
        Pour commencer, les agents Caldera installés sur les éléments du banc de test doivent être configurés. Pour cela, rendez vous dans l'onglet "agents"
        où les agents disponibles seront listés. Choisissez le rôle de chaque agent, et enregistrer les modifications.
    </p>
    <h2>Lancement d'une simulation</h2>
    <p class="col-md-8">
        Une fois les agents configurés, l'onglet "simulation" permet de configurer et de lance r une simulation d'attaque.
    </p>
</div>

{% endblock %}